[submodule "DataStore/libs/AceAddon-3.0"]
	path = DataStore/libs/AceAddon-3.0
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/AceComm-3.0"]
	path = DataStore/libs/AceComm-3.0
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/AceConsole-3.0"]
	path = DataStore/libs/AceConsole-3.0
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/AceDB-3.0"]
	path = DataStore/libs/AceDB-3.0
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/AceEvent-3.0"]
	path = DataStore/libs/AceEvent-3.0
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/AceLocale-3.0"]
	path = DataStore/libs/AceLocale-3.0
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/AceSerializer-3.0"]
	path = DataStore/libs/AceSerializer-3.0
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/AceTimer-3.0"]
	path = DataStore/libs/AceTimer-3.0
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/CallbackHandler-1.0"]
	path = DataStore/libs/CallbackHandler-1.0
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/LibStub"]
	path = DataStore/libs/LibStub
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "DataStore/libs/LibAboutPanel"]
	path = DataStore/libs/LibAboutPanel
	url = https://github.com/Ackis/LibAboutPanel.git
